<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ma page Web</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body >
    <div class="container">
    <div class="spinner">
        <div class="spinner1"></div>
    </div>
    <form method="POST" action="">
      <label for="prompt">Veuillez saisir la description de l'image souhaitée :</label>
      <textarea id="prompt" name="prompt" rows="5" ></textarea>
      <br>
      <input class="button" type="submit" value="Valider">
    </form>
    <div id="image-container">
        {% if image_url %}
        <img src="{{ image_url }}" alt="image générée par Dall-E">
        {% endif %}
    </div>

</div>
  </body>
</html>